// COLOR VARIABLES
$color-primary: #1d1e22;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//Z-INDEXES
$z-index-navigation: 5000;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
}

.heading-primary {
	display: inline-block;
	font-size: 10rem;
	font-weight: 500;
	@include respond(tab-land) {
		font-size: 8rem;
	}
	@include respond(tab-port) {
		font-size: 6rem;
	}
	@include respond(phone) {
		font-size: 4rem;
	}
}
.heading-secondary {
	display: block;
	font-size: 4rem;
	font-weight: 500;
	@include respond(tab-land) {
		font-size: 3.5rem;
	}
	@include respond(tab-port) {
		font-size: 2.5rem;
	}
	@include respond(phone) {
		font-size: 1.5rem;
	}
}
.heading-tertiary {
	font-size: 3rem;
	font-weight: 500;
	@include respond(tab-land) {
		font-size: 2.5rem;
	}
	@include respond(tab-port) {
		font-size: 2rem;
	}
	@include respond(phone) {
		font-size: 1.5rem;
	}
}
.paragraph {
	font-size: 1.8rem;
	@include respond(phone) {
		font-size: 1.2rem;
	}
}
