.anim-text {
	position: relative;
	display: inline-block;
	padding: 0 1rem;

	&__word:first-child {
		position: relative;
	}

	&__word {
		position: absolute;
		top: 0;
	}

	&__word--inactive &__letter {
		opacity: 0;
		transform: translateX(-40px);
	}
	&__word--active &__letter {
		opacity: 1;
		transform: translateX(0);
	}

	&__letter {
		display: inline-block;
		opacity: 0;
		transform: translateX(40px);
		transition: transform 0.1s ease-in, opacity 80ms ease-in;
	}
}
